body{
    background-color: #4B2E83;
}
h1{
    color: black;
}
header{
    background-color: #FCCE5A; font-family:'Times New Roman', Times, serif;
    border-radius: 20px;
}
#box1{
    /* width: 200px; */
    /* margin-top: 0px; */
    height: 400px;
    background-color: #FFDE8A;
    border-radius: 20px;
}
#biscuitlogo{
    height: 100px;
    float:left;
    margin-right:4px;
}
#biscuitNumber{
    font-size: 20px;
}
#taskList{
    
}
