body{
    background-color: #4B2E83;
}
h1{
    color: white;
}
header{
    background-color: #FCCE5A; font-family:'Times New Roman', Times, serif
}


/*#p1{
    color: red;
}
.even{
    color: green;
}
*/