.sidebar {
    width: 0;
    height: 100vh;
    background-color: #f8ed91; 
    color: #333; /* text color */
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #333;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .sidebar-content ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-content li {
    margin: 15px 0;
    cursor: pointer; 
  }
  
  .sidebar-content li:hover {
    color: #000; /* Make the text darker if you hover over it */
  }